<h3>
    An error occured while processing the request.
    The support team is notified of the issue which is being worked on. Thanks for your patience!
</h3>
<h5>
    For further details, Please email us to jarirtibree@gmail.com
</h5>
<hr />
<h3>Exception Details</h3>
<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Stacktrace</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>